# Artifatti dei progetti codeblocks
*.layout
*.depend
*.cbp

# File temporanei di Lyx
*~
*#

# File di produzione
testi/copertina_definitiva.xcf
testi/guida.pdf
testi/isbn_barcode_sesta_edizione.jpg
testi/isbn_barcode_sesta_edizione.pdf
